aside.modal

  .modal__body
    .modal__close
      span X
    img(src='img/dinner-tomoatoes.jpeg', alt='Ricos tomatitos')
    h2 Más tomates que nunca
    p Es tu momento, estás listo?
    form
      input(type='email', placeholder='Escribe tu email')
