header(data-vide-bg="assets/market")
  h1 Cupón para Tomates Gratis
  p Únete ya a más de 10,000 tomateros como tú
  a.cta(href='#', title='Suscribete Ya!')
   span ¡Suscribete Ya!
   +svg('odin')

  p.author Icon made by Freepik from
    a(href='www.flaticon.com', target='_blank')  www.flaticon.com
